/* .navbar-default {
    background-color: transparent !important;
    border-color: transparent;
    background-image: none;
    box-shadow: none;
}

.navbar {
    margin-bottom: 0;
}





@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
