{% extends 'base.html' %}

{% block content %}

{% for blogpost in blogposts %}
<div class="container">
    <div class="media">
    <div class="media-left media-top">
      <img src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairDreads01&accessoriesType=Sunglasses&hairColor=BlondeGolden&facialHairType=Blank&clotheType=BlazerSweater&eyeType=Hearts&eyebrowType=DefaultNatural&mouthType=Sad&skinColor=Pale" class="media-object" style="width:80px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ blogpost.title }}</h4>
      <h6 class="media-heading">{{ blogpost.topic }}</h6>
      <p class="media-content">{{ blogpost.content }}</p>
    </div>
    <a class="mr-2" href="#">{{ blogpost.author }}</a>
    <small class="text-muted">{{ blogpost.date.strftime('%B %d, %Y') }}</small>
    <hr>
</div>
      <!-- Nested media object -->

      <div class="media">
        <div class="media-left">
          <img src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairDreads02&accessoriesType=Round&hairColor=BlondeGolden&facialHairType=Blank&facialHairColor=Red&clotheType=GraphicShirt&clotheColor=PastelGreen&graphicType=Skull&eyeType=Squint&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Pale" class="media-object" style="width:45px">
        </div>
        <div class="media-body">
          <h6 class="media-heading">John Doe <small><i>Posted on </i></small></h6>
          <p>.</p>
            </div>
  </div>
  <hr>


  {% endfor %}
</div>
{% endblock content %}
