{% extends 'base.html' %} {% import 'bootstrap/wtf.html' as wtf %} {% block content %}

<div class="container" style="text-align:center";>
<h1>BLOGPOSTS</h1>
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ blogpost.author }}</a>
      <small class="text-muted">{{ blogpost.time }}</small>

    </div>
    <h2 class="article-title">{{ blogpost.title }}</h2>
    <p class="article-content">{{ blogpost.content }}</p>
  </div>


</article>


{{wtf.quick_form(blogpost_form)}}

  {% for comment in comments[::-1] %}


  <article class="">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ blogpost.author }}</a>
      <small class="text-muted">{{ blogpost.date }}</small>
    </div>
    <p class="article-content">{{ comment.content }}</p>
  </div>
  <div class="media">
    <img class="mr-3" src="..." alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0">{{blogpost.comment}}</h5>

    </div>
  </div>
</article>
{% endfor %}

</div>
{% endblock content %}
