{% extends 'base.html'%}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}
{% block content %}

<body>

  <div class="jumbotron text-center" style="background-image: url('{{ url_for('static', filename='./photos/two.jpeg') }}')">

    <h1>Emdee's Blog</h1><br>
    <small><h4>Express yourself..</h4></small>
  </div>
  {% for blog in blogs %}
  <div class="card mb-3">

    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <a href="blog/new/{{ blog.id }}">
      <h5 class="card-title">{{ blog.title }}</h5></a>
      <p class="card-text">{{ blog.content}}</p>
      <p class="card-text"><small><p>Posted by {{blog.author }} on {{ blog.date.strftime('%B %d, %Y') }}</p></small></p>
    </div>
  </div>

      {% endfor %}
      <hr>
    </div>
  </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p class="copyright text-muted">Copyright &copy; Emdee's Blog 2018</p>
        </div>
      </div>
    </div>
  </footer>
  {% endblock%}
</body>
