{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}
{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/categories.css')}}"> {% endblock %}
<br>
<br>
<br>
<br>

<body>
  {% block content %}
  <br>
  <br>
<div class="container">
  <div class="media">
    <div class="media-left">
      <img src="https://avataaars.io/?avatarStyle=Circle&topType=ShortHairDreads02&accessoriesType=Round&hairColor=BlondeGolden&facialHairType=Blank&facialHairColor=Red&clotheType=GraphicShirt&clotheColor=PastelGreen&graphicType=Skull&eyeType=Squint&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Pale" class="media-object" style="width:45px">
    </div>
    <div class="media-body">
      <h6 class="media-heading">{{blogpost.title}}</h6>

      <p>{{blogpost.topic}}</p>
      <p><small><i>{{blogpost.author}} Posted on: {{blogpost.date.strftime('%B %d, %Y')}} </i></small></p>
        </div>
  </div>
  <hr>
      {% endblock %}
      </div>
</body>
